Thumbs.db
*.obj
*.txt
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.dotcover
DigitalVoterList/DigitalVoterList/DigitalVoterList.csproj.orig
DigitalVoterList/DigitalVoterList/DigitalVoterList.csproj.orig
Repo
*.orig
DigitalVoterList/DBComm.PexTests/MolesAssemblies/DBComm.Moles.dll
DigitalVoterList/DBComm.PexTests/MolesAssemblies/DBComm.Moles.dll
DigitalVoterList/DigitalVoterList.PexTests/DigitalVoterList.moles